* {
    font-family: 'Roboto', sans-serif;
}
img {
    box-sizing: border-box;
    align-items: center;
    margin-top: 70px;
}
.ret {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.textyoga {
   font-size: 25px;
   text-align: center;
   margin-bottom: 45px;
}
button {
    width: 200px;
    display: block;
    margin-left: 80px;
    height: 48px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 17px;
}
